*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
    
}
.header_container{
    margin-bottom: 2.5rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_para{
max-width: 568px;
text-align: center;
color: rgb(105, 110, 111);
margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);

}

.card_container{
display: flex;
flex-direction: column;
border: 1px solid rgba(101, 97, 97, 0.716);
border-radius: 2px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_iamge{
object-fit: cover;
object-position: center;
position: absolute;
height: 100%;
width: 100%;
}
.card_title_container{
    display:flex;
    flex-direction: column;
    padding: 1.5rem;

}
.card_container:hover .card_iamge{
transform: scale(1.1);
transition-duration: 200ms; ;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(26, 21, 21);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;

}
.card_title_anchor:hover .card_title{
    color: rgb(4, 4, 236);
}

.card_body{
    color: rgb(120, 109, 109);
    font-size: 1rem;

}
.card_footer_container{
    display: flex;
    justify-content: space-between;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}